<ion-view view-title="Songs">
  <ion-content>

    <ion-list>
      <ion-item class="item-thumbnail-left item-icon-right"
                menu-close
                ng-repeat="song in songs track by $index"
                href="#/app/songs/{{song.id}}">
        <img ng-src="{{song.ReleaseImageUri || 'img/default.jpg'}}">
        <h2>{{song.TrackName}}</h2>
        <p>{{song.ArtistName}}</p>
        <i ng-if="song.favorite" class="assertive icon ion-heart"></i>
        <i ng-if="song.IsLocal" class="royal icon ion-home"></i>
        <ion-option-button class="ion-heart button-balanced"
                           ng-click="addToFavorites(song)">
        </ion-option-button>
        <ion-option-button class="ion-minus-circled button-assertive"
                           ng-click="removeSong(song)">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <div class="tabs tabs-icon-top">
      <a class="tab-item" ng-click="getFetched()">
        <i class="icon ion-music-note"></i>
        All
      </a>
      <a class="tab-item" ng-click="getFavorites()">
        <i class="icon ion-heart"></i>
        Favorites
      </a>
      <a class="tab-item" ng-click="getLocal()">
        <i class="icon ion-home"></i>
        Local
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
