<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- One Tab -->
  <ion-tab title="One" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" href="#/tab/one">
    <ion-nav-view name="tab-one"></ion-nav-view>
  </ion-tab>

  <!-- Three Tab -->
  <ion-tab title="Two" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" href="#/tab/two">
    <ion-nav-view name="tab-two"></ion-nav-view>
  </ion-tab>

  <!-- Pattern Tab -->
  <ion-tab title="Three" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" href="#/tab/three">
    <ion-nav-view name="tab-three"></ion-nav-view>
  </ion-tab>

</ion-tabs>
